@mixin cards {
    .border_card {
        border: solid 10px bordes('borde-card-color');
        border-radius: bordes('borde-radius-1');
        overflow: hidden;
        transition: all ease-out 0.9s;
            &:hover {
            transform: scale(1.08);
          }
    }
}