
$texto-principal:"Roboto", sans-serif;

$paletacolores: (
    'bgcolor':rgb(12, 144, 12),
    'bgcolor-secundario':rgb(137, 18, 148),
    'bg-gradiente':linear-gradient(to left, #159957, #155799),   
);


$bordes:(
    'borde-card-color':rgb(9, 93, 9),
    'borde-radius-1':18px,
    'borde-link-redes':solid 8px white,
);
